* {
    font-family: 'Roboto';
}

.text-green {
    color: #2F9E41;
    /* Verde */
}
.form-bodyy{
    background-color: rgb(47, 158, 65);
}

.form-container{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 400px;
    padding: 1rem;
}

.form-container-cadastro{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 700px;
    padding: 1rem;
}

.btn-success1{
    background-color: rgb(47, 158, 65);
}
